@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix native select elements in dark mode */
.dark select,
.dark select option {
    background-color: rgb(30 41 59) !important;
    color: rgb(226 232 240) !important;
}

/* Filament 3 custom select dropdowns (Alpine/Livewire listbox) */
.dark [role="listbox"] {
    background-color: rgb(30 41 59) !important;
}

.dark [role="option"] {
    background-color: rgb(30 41 59) !important;
    color: rgb(226 232 240) !important;
}

.dark [role="option"]:hover,
.dark [role="option"][aria-selected="true"],
.dark [role="option"][data-active] {
    background-color: rgb(51 65 85) !important;
    color: rgb(255 255 255) !important;
}

/* Filament fi-select dropdown panel */
.dark .fi-select-dropdown,
.dark .fi-fo-select .choices__list--dropdown,
.dark .fi-fo-select [data-dropdown] {
    background-color: rgb(30 41 59) !important;
    border-color: rgb(71 85 105) !important;
}

/* Choices.js (used by Filament Select) */
.dark .choices__list--dropdown .choices__item,
.dark .choices__list[role="listbox"] .choices__item {
    background-color: rgb(30 41 59) !important;
    color: rgb(226 232 240) !important;
}

.dark .choices__list--dropdown .choices__item--selectable.is-highlighted,
.dark .choices__list--dropdown .choices__item:hover {
    background-color: rgb(51 65 85) !important;
    color: rgb(255 255 255) !important;
}

.dark .choices__inner {
    background-color: rgb(30 41 59) !important;
    border-color: rgb(71 85 105) !important;
    color: rgb(226 232 240) !important;
}

.dark .choices__input {
    background-color: rgb(30 41 59) !important;
    color: rgb(226 232 240) !important;
}

/* Filament table filter dropdowns */
.dark .fi-ta-filters-dropdown,
.dark .fi-dropdown-panel {
    background-color: rgb(30 41 59) !important;
}
